.feature-config-table-mobile {
  width: 100%;
  max-width: 350px;
}

.feature-config-table-mobile__body {
  margin-bottom: 50px;
}

.feature-config-table-desktop {
  display: none;
}

.table-container__back-button {
  margin-bottom: 20px;
}

.information-container {
  margin-bottom: 20px;

  .information-value {
    margin-left: 10px;
  }
}

@media (width >= 834px) {
  .feature-config-table-mobile {
    display: none;
  }

  .feature-config-table-desktop {
    display: block;
  }
}
