<div class="dashboard-container">
  <div class="navbar-container">
    <app-navbar></app-navbar>
  </div>

  <div class="table-container" >
    <form [formGroup]="filterForm">
      <div class="search-container">
        <div class="input-group mb-3 hola">
          <input
            type="text"
            class="form-control"
            placeholder="@bytesw.com"
            aria-label="Filter"
            aria-describedby="basic-addon2"
            formControlName="filterByEmail"
          />
          <span class="input-group-text" id="basic-addon2">
            <i class="bi bi-search"></i>
          </span>
        </div>
      </div>
    </form>

    <app-dashboard-table
      [logList]="logList"
      (logSelected)="logSelected($event)"
      [filterHasNotResults]="filterHasNotResults"
    ></app-dashboard-table>
  </div>
</div>
